
.error {
  font-style: italic;
  font-size: 10pt;
  color: red;
  margin-left: var(--label-width);
  height: 20pt;
}
.login{
    background: #ccccccaa;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;

}